/*body {
	margin: 0;
}*/

* {
  font-family: 'Crimson Text', serif;
}

a {
  color: inherit !important;
}
a:hover {
  color: inherit !important;
}
h2 {
  text-align: left;
}

.bold {
  font-weight: bold;
}

.big {
  font-size: 1.1em;
}

.cover {
  background: #015961;
  height: 100vh;
  text-align: center;
  color: #263238;
  /* text-shadow: 2px 2px #DC680088; */
  background-image: url('../images/cover.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.cover-img {
  height: 2.5rem;
  margin-bottom: 0.5rem;
  border-radius: 3px;
  margin-right: 10px;
}
.white-text {
  color: white;
}

.header {
  padding: 2em;
  background: #55c1cb88;
  transform: translateY(-50%);
  margin-top: 50vh;
  position: absolute;
  width: 100%;
}

header {
  background: #24a9b5;
  padding: 5px;
  position: sticky;
  top: 0;
  z-index: 100;
}
header > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header img {
  height: 70px;
  border-radius: 5px;
}
header h2 {
  margin-bottom: 0;
  margin-left: 15px;
  margin-top: 5px;
  color: white;
  font-weight: bold;
}

.orange-text {
  color: #f27200;
}

.blue-text {
  color: #028793;
}

.title {
  font-size: 4rem;
  color: #ff9230;
  text-shadow: 1px 1px 1px #00000088;
}

.intro {
  margin-top: 2rem;
  text-align: justify;
}
.services,
.gallery {
  margin-top: 1rem;
  text-align: justify;
}

.section-img {
  text-align: center;
}
.section-img img {
  max-width: 100%;
  max-height: 40vh;
}
.d-block {
  display: block !important;
  max-height: 80vh;
  margin: auto;
  max-width: 100%;
}
.carousel-item {
  background: #55c1cb;
}
.carousel-caption {
  background: #00000055;
  padding-top: 10px !important;
  padding-bottom: 0 !important;
}
.carousel-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

footer {
  background: #24a9b5;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

footer .row {
  align-items: flex-end;
}

footer h4, footer h5 {
  color: #f27200;
  text-shadow: 1px 1px 2px #000000;
}

footer .col:last-child {
  text-align: right;
}

footer ul {
  list-style: none;
  padding-left: 0;
}

@media (max-width: 768px) {
  .reverse-when-small {
    flex-direction: column-reverse;
  }
}

@media (max-width: 576px) {
  footer .col:last-child {
    text-align: left;
  }
  footer .row {
    flex-direction: column;
  }
}
